{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1>{{title}}</h1>
        <p>Counter: {{cntval}}</p>
        <table border='1' style='border-collapse:collapse'>
          <th>
            {% for h in headers %}
              <td>{{ h }}</td>
            {% endfor %}
          </th>
        {% for i in info %}
          <tr>
             {% for j in i %}
             <td>{{ j }}</td>
             {% endfor %}
          </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}
