{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <h1>{{title}}</h1>
        <p>Counter: {{cntval}}</p>
        <table border='1' style='border-collapse:collapse'>
          <th>
            {% for h in headers %}
              <td>{{ h }}</td>
            {% endfor %}
          </th>
        {% for i in info %}
          <tr>
             {% for j in i %}
             <td>{{ j }}</td>
             {% endfor %}
          </tr>
        {% endfor %}
        </table>

        <h2>Generate Requests</h2>
        <div>
            <form method="post" action="genreq">
                <label for="rps">Requests Per Second</label>
                <input type="text" name="rps" placeholder="1000"/><br/>
                <label for="runtime">Runtime (Seconds)</label>
                <input type="text" name="runtime" placeholder="5"/><br/>
                <label for="rps">Read/Write ratio</label>
                <input type="text" name="rwratio" placeholder="0.9"/><br/>
                <label for="rps">Load Balancing Algorithm</label>
                <select name="lbalgo" id="lbalgo_select">
                    <option value="random">Random</option>
                    <option value="roundrobin">Round Robin</option>
                    <option value="jsq">Shortest Queue</option>
                </select>
                <button type="submit">Run</button>
            </form>
        </div>

        <h2>History</h2>
        <table border='1' style='border-collapse:collapse'>
        {% for i in history  %}
          <tr>
             {% for j in i %}
             <td>{{ j }}</td>
             {% endfor %}
          </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}
